apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
namePrefix: dev-
labels:
  - pairs:
      env: dev
resources:
  - ../../base
patches:
  - path: patch-env.yaml
    target:
      kind: Deployment
      name: guestbook
