replicaCount: 2

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: "1.27-alpine"

nameOverride: "nginx"
fullnameOverride: "nginx"

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

