apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
namePrefix: prod-
labels:
  - pairs:
      env: prod
resources:
  - ../../base
patches:
  - path: patch-env.yaml
    target:
      kind: Deployment
      name: guestbook
