apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
  labels:
    app: guestbook
spec:
  replicas: 4
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
    spec:
      containers:
        - name: guestbook
          image: nginx:1.27-alpine
          ports:
            - containerPort: 80
          env:
            - name: APP_MESSAGE
              value: Hello from GitOps demo (ArgoCD)!
